*{ 
	margin: 0; 
	padding: 0; 
} 
/*幻灯片设置*/
.slide{ 
	font-size: 60px; 
	text-align: center; 
} 
#top{ 
	height: 60px;
	width: 100%;
	position: fixed;
	z-index: 30;
	background-color: #336699; 
	background-color:rgba(0, 0, 0, 0.5);
 	/*opacity: 0.5;*/
}
#top img{    
	margin-left: 40px;
	border-radius: 50%;
	position: relative;
	animation-name:myfirst;
	animation-duration:5s;
	animation-timing-function:linear;
	animation-delay:1s;
	animation-iteration-count:infinite;
	animation-direction:normal;
	animation-play-state:running;
}
@keyframes myfirst      /*图片旋转*/
{
	0%   {transform: rotate(0deg)}
	100% {transform: rotate(360deg)}
}
#mytime{
	position: absolute;
	top: 50%;
	font-size: 18px;
	color: #fff;
	line-height: 18px;
	margin-left: 60px;
	margin-top: -9px;
}
.gotop {
    bottom: 60px;
    position: fixed;
    right: 30px;
    width: 46px; 
    opacity: 0.5;
    z-index: 999;
    display: none;
}
.gotop:hover{
	opacity: 1;
}
.gotop a {
    background-image: url("../images/go-top.png");
    display: block;
    height: 46px;
    margin-bottom: 10px;
    width: 46px; 
    border-radius: 50%;
}
.gotop_go {
	background-position: 0 -100px;
}
.gotop_go:hover{
	background-position: 0 -150px;
}
.gotop_weixin{
	background-position: -2px 0;
}
.gotop_weixin:hover{
	background-position: 0 -250px;
}
.gotop .weixin-con {
  position: absolute;
  background-color: #fff;
  right: 60px;
  bottom: 0px;
  width: 100px; 
  display: none; 
}
.gotop .gotop_weixin:hover .weixin-con{
	display: block;
}
.gotop .weixin-con p{ 
	font-family: "microsoft yahei";
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	margin: 4px 0;
} 
#fullpageMenu { 
	/*border: 1px solid red;*/
	float: right;
	margin: 0 40px 0 0;
	padding: 0;
	list-style-type: none; 
	z-index: 70; 
}
#fullpageMenu li {
	float: left; 
	margin:  0 10px 0 0;  
	line-height: 60px;
	font-size: 14px; 
	font-style: italic;
	} 
#fullpageMenu a {
	float: left; 
	margin-top: 0;
	padding: 0 20px; 
	color: #fff; 
	text-decoration: none;
}
#fullpageMenu .active a { 
	color: #fff; 
	background-color: #0099CC;
	font-weight: bold;
	font-size: 120%;
}
.section{ 
	width:100%;
	text-align: center; 
}
.section h1{
	text-align:center;
}

/*-----------------右侧圆点导航-----------------------*/
#fp-nav .fp-tooltip{
	visibility: hidden;
}
#fp-nav li:hover .fp-tooltip{
	visibility: visible;
}

/*-----------------每一页的标题设置-----------------------*/

.secti_title{ 
	position: absolute;
	width: 120px;
	height: 25px;
	top: 8%;
	left: 50%;
	color: #fff;
	margin-left: -60px; 
	font-size: 16px;
	font-family: simsun;
	font-weight: bold;
} 
.active .secti_title{ 
	animation-name:myworks;
	animation-duration:2s;
	animation-timing-function:ease-in-out;
	animation-delay:0.5s;
	animation-iteration-count:1;
	animation-direction:normal;
	animation-play-state:running;
} 
@keyframes myworks       
{
	0%    {transform:scale(0.1, 0.1);} 
	50%  {transform:scale(1.2, 1.2);color: #FF0033;}
	52%  {transform:scale(1.2, 1.2);color: #fff;}
	54%  {transform:scale(1.2, 1.2);color: #FF0033;}
	100%  {transform:scale(1, 1);}
}  
.line{  
	border-bottom: 2px solid red;
	position: absolute;
	display: block;
	height: 10px;
	width: 0px;
	bottom: 0;
	left: 50%;
	margin-left: 0px;
	transition: all 1s; 
}
.active .line{
	width: 80px; 
	margin-left: -40px;
	transition-delay: 1s;
}

/*---------------首页-------------------------------------*/ 
#fullpage .section1{
	background: #00868B;
	position: relative;
}
#fullpage .section1 .touxiang{
	position: absolute;
	background: url(../images/photo-1.jpg) no-repeat 100% 100%;
	background-position: 0px 2px;
	height: 180px;
	width: 180px;
	bottom: 70%;
	left: 50%; 
	margin-left: -90px; 
	border-radius: 50%;  
	border: 4px solid #fff;
}
.section1 .name{
	color: #FFFFCC;
	font:40px KaiTi;
	font-weight: bold;
	position: absolute; 
	width: 200px; 
	height: 40px; 
	left: 50%; 
	top: 50%;
	margin-left: -100px; 
	opacity: 0; 
	-webkit-transform:scale(0.5, 0.5); 
	transform:scale(0.5, 0.5); 
	transition: all 1s; 
}
.active .name{ 
	opacity: 1; 
	-webkit-transform:scale(1, 1); 
	transform:scale(1, 1); 
	transition-delay: 0.7s;
}
.section1 p{
	color: #FFFF66;
	font-family: "microsoft yahei";
	font-size: 14px;
}
.age, 
.myemail, 
.tel{ 
	position: absolute;
	height: 30px;
	width: 400px;
	top:150%;
	left: 50%; 
	margin-left: -200px;
}
.age{
	margin-top: 80px;
}
.myemail{
	margin-top: 120px;
}
.tel{
	margin-top: 160px;
}
.section1 .email{ 
	margin-top: 15px;
	font:18px "simsun";
	position:relative;
	color: #FFFF99;
	left:120%;
}
.section .godown{
	position: absolute; 
	opacity: 0.8;
	height: 30px;
	width: 30px;
	bottom: 20px;
	left: 50%;
	margin-left: -15px; 
	animation-name:godown;
	animation-duration:0.5s;
	animation-timing-function:ease-in;
	animation-delay:0.2s;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	animation-play-state:running;
}
.section .godown span{
	opacity: 1;
	font-size: 22px;
	color: #fff;
}
@keyframes godown       
{
	0%   {transform: translateY(0px)}
	100% {transform: translateY(20px)}
}

/*----------------前端技能------------------------------------------*/
#fullpage .section3{
	background: #663366;  
	position: relative;
}  

.cck_container_outer{
	/*border: 1px solid red;*/
}

.cck_container {
  width: 160px;
  height: 130px;
  position: relative;
  margin: 100px auto 30px;
  border: 1px solid #ccc;
  perspective: 800px;
}


@keyframes scroll {
  0% {
	transform: translateZ( -120px)  rotateY(0deg);
  }
  100% {
	transform: translateZ( -120px) rotateY(360deg);
  }
}

#cck_carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  transform: translateZ( -120px);
  transform-style: preserve-3d;
  transition: transform 1s;
  animation: scroll 12s infinite;
  animation-timing-function:linear;
}

#cck_carousel:hover{
  animation-play-state:paused; 
}

#cck_carousel figure {
  display: block;
  position: absolute;
  width: 136px;
  height: 106px;
  left: 10px;
  top: 10px;
  border: 2px solid black;
  line-height: 106px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  margin: 0;
}

#cck_carousel figure:nth-child(1) {
  background: hsla( 0, 100%, 50%, 0.8);
}

#cck_carousel figure:nth-child(2) {
  background: hsla( 40, 100%, 50%, 0.8);
}

#cck_carousel figure:nth-child(3) {
  background: hsla( 80, 100%, 50%, 0.8);
}

#cck_carousel figure:nth-child(4) {
  background: hsla( 120, 100%, 50%, 0.8);
}

#cck_carousel figure:nth-child(5) {
  background: hsla( 160, 100%, 50%, 0.8);
}

#cck_carousel figure:nth-child(6) {
  background: hsla( 200, 100%, 50%, 0.8);
}

#cck_carousel figure:nth-child(7) {
  background: hsla( 240, 100%, 50%, 0.8);
}

#cck_carousel figure:nth-child(8) {
  background: hsla( 280, 100%, 50%, 0.8);
}

#cck_carousel figure:nth-child(9) {
  background: hsla( 320, 100%, 50%, 0.8);
}

#cck_carousel figure:nth-child(1) {
  transform: rotateY( 0deg) translateZ( 220px);
}

#cck_carousel figure:nth-child(2) {
  transform: rotateY( 40deg) translateZ( 220px);
}

#cck_carousel figure:nth-child(3) {
  transform: rotateY( 80deg) translateZ( 220px);
}

#cck_carousel figure:nth-child(4) {
  transform: rotateY( 120deg) translateZ( 220px);
}

#cck_carousel figure:nth-child(5) {
  transform: rotateY( 160deg) translateZ( 220px);
}

#cck_carousel figure:nth-child(6) {
  transform: rotateY( 200deg) translateZ( 220px);
}

#cck_carousel figure:nth-child(7) {
  transform: rotateY( 240deg) translateZ( 220px);
}

#cck_carousel figure:nth-child(8) {
  transform: rotateY( 280deg) translateZ( 220px);
}

#cck_carousel figure:nth-child(9) {
  transform: rotateY( 320deg) translateZ( 220px);
}

.myskill{
	margin-top: 30px;
	padding: 20px;
	color: #fff;
}
.myskill h4{
	font-size: 16px;
	font-weight: bold;
}
.myskill p{
	font-size: 14px;
	opacity: 0.7;
}
.myskill span{
	font-size: 16px;
	margin-right: 10px;
}
.myskill .item{
	margin-top: 30px;
}

/*------------------------我的作品---------------------------*/
#fullpage .section4{
	background-color: #66CCFF;  
	position: relative;
}
.section4{
	position: relative;
}
.allbox{
	height: 60%;  
}
.box {
	/*border: 1px solid red;*/
	margin: 50px;
	height: 300px;  
	text-align: center;  
	border-radius:10px; 	
	transform-style:preserve-3d;
	transform-origin:center;
	transform: rotateY(0deg);
	transition: all 3s; 
}
.active .box_1{
	transform-origin:center;
	transform: rotateY(360deg); 
	transition-delay: 0.2s;
}
.active .box_2{
	transform-origin:center;
	transform: rotateY(360deg); 
	transition-delay: 0.6s;
}
.active .box_3{
	transform-origin:center;
	transform: rotateY(360deg); 
	transition-delay: 1s;
}
.active .box_4{
	transform-origin:center;
	transform: rotateY(360deg); 
	transition-delay: 1.4s;
} 
.box .a_unit {
	display:block;
	cursor:pointer;
	width:150px;
	height:100%;
	position:absolute;
	left:50%;
	top:0;
	margin-left: -75px; 
	text-decoration:none;
	backface-visibility:hidden;
	color:#fff;
	border-radius:10px; 	
	/*-webkit-box-shadow:2px 2px 10px #0FF21E, -2px -2px 10px #0FF21E; */
	/*box-shadow:2px 2px 10px red, -2px -2px 10px red;*/
	border: 2px solid #3366CC;
}
.box .a_unit .box_title{
	font-family: KaiTi;
	font-size: 16px; 
	margin: 10px 0 0 0;
}
.box .a_unit .box_content{
	font-family: "microsoft yahei";
	font-size: 14px;
	margin-top: 0px;
	padding: 4px;
	text-align: justify;
}
.box .a_unit .box_go{
	position: absolute;
	right: 4px;
	bottom: 0px;
}
.box .a_unit .box_go a{
	color: #FFFF66;
	border: 1px solid #fff;
	border-radius: 5px;
	margin: 4px;
	padding: 4px;
	font-size: 14px;
	font-style: italic;
}
.box .a_unit .box_go a:hover{
	color: #fff;
}
.box .a_unit:nth-of-type(1) {
	transition:.8s transform
}
.box .a_unit:nth-of-type(2) {
	background: -webkit-linear-gradient(left top, green , blue); 
    background: -o-linear-gradient(bottom right, green, blue);  
    background: -moz-linear-gradient(bottom right, green, blue);  
    background: linear-gradient(to bottom right, green , blue);  
	transform:rotateY(-180deg);
	transition:.8s transform
}
.box_1 .a_unit:nth-of-type(1){
	background: url(../images/First-job.png);
	background-size: 100% 100%;
}
.box_2 .a_unit:nth-of-type(1){
	background: url(../images/wechat.png);
	background-size: 100% 100%;
}
.box_3 .a_unit:nth-of-type(1){
	background: url(../images/music.png);
	background-size: 100% 100%;
}
.box_4 .a_unit:nth-of-type(1){
	background: url(../images/other.png);
	background-size: 100% 100%;
}
.box:hover .a_unit:nth-of-type(1) {
	transform:rotateY(180deg);
}
.box:hover .a_unit:nth-of-type(2) {
	transform:rotateY(0deg);
}

/*--------------------请联系我-------------------------------*/
#fullpage .section5{
	background: -webkit-linear-gradient(left top,  #000033 ,#003399); 
    background: -o-linear-gradient(bottom right,  #000033 ,#003399); 
    background: -moz-linear-gradient(bottom right, #000033 ,#003399); 
    background: linear-gradient(to bottom right, #000033 ,#003399);  
	position: relative;
} 
.senction5_content{ 
	margin:80px 0 0 0; 
	width: 100%; 
}
.connected_1{ 
	position: absolute;
	width: 100%; 
	height: 200px;
	top: 50%;
	margin-top: -130px; 
}
.myword{
	color: #fff;
	font-family: KaiTi;
	font-size: 16px;
	margin: 20px auto; 
}
.myword_1{
	padding: 20px;
}
.myword_3{
	opacity: 0; 
	-webkit-transform:scale(0.1, 0.1); 
	transform:scale(0.1, 0.1); 
	transition: all 1s; 
}
.active .myword_3{ 
	opacity: 1; 
	-webkit-transform:scale(1, 1); 
	transform:scale(1, 1);
	transition-delay: 4s;
} 
.download{
	margin-top: 40px; 
	opacity: 0; 
	-webkit-transform:scale(0.1, 0.1); 
	transform:scale(0.1, 0.1); 
	-webkit-transform: rotateZ(0deg);
	transform: rotateZ(0deg);
	transition: all 1s; 
}
.active .download{ 
	opacity: 1; 
	-webkit-transform:scale(1, 1); 
	transform:scale(1, 1);
	-webkit-transform: rotateZ(-360deg);
	transform: rotateZ(-360deg);
	transition-delay: 4s;
} 
.resume{
	font-family: simsun;
	font-size: 20px;
	color: #FFFF99;
	font-style: italic;
	text-decoration: underline;
}
.resume:hover{
	font-style:  normal;
	color: aquamarine;
	font-weight: 600;
	font-size: 22px;
	text-decoration: none;
}
.connected_2{
	position: absolute;
	height: 80px;
	width: 100%;  
	display: -webkit-box; 
    display: -moz-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex;   
    bottom: -150px;
    opacity: 0; 
	-webkit-transform:scale(0.1, 0.1); 
	transform:scale(0.1, 0.1); 
	transition: all 1s; 
}
.active .connected_2{
	bottom: 100px; 
	opacity: 1; 
	-webkit-transform:scale(1, 1); 
	transform:scale(1, 1); 
	transition-delay: 0.8s;
} 
.connected_2 div{
	position: relative;
	-webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;   
}
.connected_2 .touch{ 
	position: absolute;
	bottom: 0;
	width: 60px;
	left: 50%;
	margin-left: -30px;
	font-family: simsun; 
	font-size: 12px;
	color: #FFFF66;
	text-decoration:none;
}
.connected_2 .touch:hover{
	color: #fff;
	text-decoration: underline;
}
.connected_2 img{ 
	position: absolute;
	width: 40px;
	height: 40px;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -20px;
	border-radius: 50%; 
	transition: all 0.5s; 
	-webkit-transition:0.5s; 
	-moz-transition:0.5s; 
}
.connected_2 img:hover{  
	-webkit-transform:rotate(360deg) scale(1.1); 
	-ms-transform:rotate(360deg) scale(1.1);
	transform:rotate(360deg) scale(1.1);
}
.connected_2_unit{ 
	animation-name:connected_2_unit;
	animation-duration:0.5s;
	animation-timing-function:linear;
	animation-delay:0.5s;
	animation-iteration-count:infinite;
	animation-direction: alternate;
	animation-play-state:running;
} 
@keyframes connected_2_unit      /*图片旋转*/
{
	0%    {transform: translateY(5px);} 
	100%  {transform: translateY(-5px);}
} 
.connected_2_unit:hover{
	animation-play-state:paused;
}

#footer{ 
	opacity: 0.6;
	position: absolute;
	bottom: 0;
	width: 100%;
	height:auto;
	text-align: center; 
	font-size: 12px;
	line-height: 12px;
	background:rgba(0,191,255,0.2);
	border-top: 1px solid #333399; 
	color: #CCCC99;
}
#footer p{ 
	margin: 6px;
}
#footer .copyright span{
	border-right: 1px solid #CCCC99;
	padding-right: 4px;
}






/*---------------------------------------------------*/




